


<%= simple_form_for @message, url: create_message_url do |f| %>

<h1> Contact me </h1>
<br>
<p>I would be thrill to answer you!
 <br>
Please leave your info below and we'll talk.</p>
<div class="form-group">
  <%= notice %>
  <%= @message.errors.full_messages.join(', ') %>

  <br>
  <%= f.text_field :name, placeholder: 'My name is greg and you?', hint: 'No special characters.' %>
  <%#= f.phone_number_field :phone_number, placeholder: 'phone_number' %>
  <%= f.email_field :email, placeholder: 'your@email.com' %>
  <%= f.text_area :body, placeholder: 'say something nice so I am willing to reply', required: false %>
  <br>
  <%= f.submit 'Send', class: 'btn btn-success'%>
  <% end %>
  <br>
  <br>

