
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <%= simple_form_for @contact, url: home_index_path, remote: true do |f| %>
      <!--     <div class="col-md-6"> -->
        <h1> Contact me</h1>
        <div class="form-inputs">
          <%= f.label :name %></br>
          <%= f.text_field  :name, required: true, placeholder: "my name is greg" %> </br>
          <%= f.label :email %></br>
          <%= f.text_field :email, required: true , placeholder: "bob@gmail.com"%> </br>
          <%= f.label :message %></br>
          <%= f.text_area :message, rows: 8, cols: 40, required: true, placeholder: "Send a message to Gonnected."%></br>
          <div class= "hidden">
            <%= f.label :nickname %>
            <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit 'Send Message', class: 'btn btn-primary' %>
        </div>
      </div>

      <% end %>
      <div id="flash-message">
        <%= render 'flash' %>
      </div>

    </div>
  </div>
</div>
<br>
<br>
<br>
