

  <%= image_tag "http://res.cloudinary.com/greggstyle/image/upload/c_scale,w_1445/v1532539230/Site%20greg/jeremy-ricketts-9573-unsplash.jpg"%>

<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');"> -->

<div class="steps-section">
  <div class="container">
    <br>
    <div class="home-section-heading"> <h3> Why?  </h3> </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="index_card">
          <div class="index_image"> <%= image_tag "http://res.cloudinary.com/greggstyle/image/upload/c_scale,w_582/v1532540626/Site%20greg/action-activity-adults-1246953.jpg" , alt: "Select an experience", width: 200, height: 150 %> </div>
          <h5> Sports <h5>
            <br>
            <p> Football, Badminton <br> Running & Yoga <br> I love challenges! </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="index_card">
            <div class="index_image"> <%= image_tag "https://res.cloudinary.com/greggstyle/image/upload/v1532541621/Site%20greg/black-coffee-business-cellphone-860379.jpg", alt: "Select a cause", width: 200, height: 150  %> </div>
            <h5> Digital <h5>
              <br>
              <p> 13 years in digital world <br> E-commerce since 2005</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="index_card">
              <div class="index_image"> <%= image_tag "https://res.cloudinary.com/greggstyle/image/upload/v1532541303/Site%20greg/beach-beautiful-bridge-449627.jpg", alt: "Simple Booking", width: 200, height: 150 %> </div>
              <h5> #TravelMakesYou <h5>
                <br>
                <p> Worked in 4 continents <br> US, Mexico, Brazil, <br> Ghana, Spain, France</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="index_card">
                <div class="index_image"> <%= image_tag "https://res.cloudinary.com/greggstyle/image/upload/v1532541303/Site%20greg/burn-fire-hot-60726.jpg", alt: "Simple Booking", width: 200, height: 150 %> </div>
                <h5> #OneLife <h5>
                  <br>
                  <p> Festivals <br> Burning Man, Tomorrowland</p>
                </div>
              </div>
            </div>
            <br>
            <br>
            <br>
          </div>
        </div>



      </div>
    </div>
